
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    margin-top: 9%;
}

.menu-container {
    margin-top: 20px;
    text-align: center;
}

.menu-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    display: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 2;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.Gallery {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.image:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}